<h1 class="mt-3">Angular <small>Pipes</small></h1>

<br>

<h5>Pipes allow us to visually transform our data without changing its real value, in this way we can show data with a better user experience, below are the most used examples:</h5>

<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe ( | )</th>
                    <th>Output</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td> {{ name }} </td>
                    <td> uppercase </td>
                    <td> {{ name | uppercase }} </td>
                </tr>

                <tr>
                    <td> {{ name }} </td>
                    <td> lowercase </td>
                    <td> {{ name | lowercase }} </td>
                </tr>

                <tr>
                    <td> {{ name }} </td>
                    <td> slice:3 </td>
                    <td> {{ name | slice:3 }} </td>
                </tr>

                <tr>
                    <td> {{ name }} </td>
                    <td> slice:0:3 </td>
                    <td> {{ name | slice:0:3 }} </td>
                </tr>

                <tr>
                    <td> {{ array }} </td>
                    <td> slice:1:5 </td>
                    <td> {{ array | slice:1:5 }} </td>
                </tr>

                <tr>
                    <td> {{ PI }} </td>
                    <td> number:'3.0-0' (decimal) </td>
                    <td> {{ PI | number:'3.0-0' }} </td>
                </tr>

                <tr>
                    <td> {{ PI }} </td>
                    <td> number:'.0-2' (decimal) </td>
                    <td> {{ PI | number:'.0-2' }} </td>
                </tr>

                <tr>
                    <td> {{ percentages }} </td>
                    <td> percent </td>
                    <td> {{ percentages | percent }} </td>
                </tr>

                <tr>
                    <td> {{ percentages }} </td>
                    <td> percent:'2.2-2' </td>
                    <td> {{ percentages | percent:'2.2-2' }} </td>
                </tr>

                <tr>
                    <td> {{ salary }} </td>
                    <td> currency (USD for default) </td>
                    <td> {{ salary | currency }} </td>
                </tr>

                <tr>
                    <td> {{ salary }} </td>
                    <td> currency:'EUR' </td>
                    <td> {{ salary | currency:'EUR' }} </td>
                </tr>

                <tr>
                    <td> {{ salary }} </td>
                    <td> currency:'GBP'</td>
                    <td> {{ salary | currency:'GBP' }} </td>
                </tr>

                <tr>
                    <td> {{ salary }} </td>
                    <td> currency:'CAD':'symbol-narrow':'.0-0' (without decimal) </td>
                    <td> {{ salary | currency:'CAD':'symbol-narrow':'.0-0' }} </td>
                </tr>

                <tr>
                    <td> {{ promiseValue }} </td>
                    <td> async (with setTimeout) </td>
                    <td> {{ promiseValue | async }} </td>
                </tr>

                <tr>
                    <td> {{ date }} </td>
                    <td> date </td>
                    <td> {{ date | date }} </td>
                </tr>

                <tr>
                    <td> {{ date }} </td>
                    <td> date:'medium' </td>
                    <td> {{ date | date:'medium' }} </td>
                </tr>

                <tr>
                    <td> {{ date }} </td>
                    <td> date:'short' </td>
                    <td> {{ date | date:'short' }} </td>
                </tr>

                <tr>
                    <td> {{ date }} </td>
                    <td> date:'MMMM - dd' </td>
                    <td> {{ date | date:'MMMM - dd' }} </td>
                </tr>

                <tr>
                    <td> {{ date }} </td>
                    <td> date:'MMMM - dd':'':'fr' </td>
                    <td> {{ date | date:'MMMM - dd':'':'fr' }} </td>
                </tr>

                <tr>
                    <td> {{ date }} </td>
                    <td> date:'MMMM - dd':'':'es' </td>
                    <td> {{ date | date:'MMMM - dd':'':'es' }} </td>
                </tr>

                <tr>
                    <td> {{ date }} </td>
                    <td>
                        date:'MMMM - dd':'':'{{ language }}' (click event) (custom pipe)
                        <br>
                        <button (click)="language='es'" class="mr-1 btn btn-primary">Spanish</button>
                        <button (click)="language='en'" class="mr-1 btn btn-secondary">English</button>
                        <button (click)="language='fr'" class="mr-1 btn btn-success">French</button>
                    </td>
                    <td> {{ date | date:'MMMM - dd':'':language }} </td>
                </tr>

                <tr>
                    <td> {{ name2 }} </td>
                    <td> capitalized (custom pipe) </td>
                    <td> {{ name2 | capitalized:true }} </td>
                </tr>

                <tr>
                    <td> {{ name }} </td>
                    <td>
                        password:{{ enable }} (click event) (custom pipe)
                        <br>
                        <button (click)="enable = !enable" class="btn btn-outline-primary">
                            Enable/Disable
                        </button>
                    </td>
                    <td> {{ name | password:enable }} </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<hr>

<h4>Examples of slice pipe with ngFor:</h4>

<br>

<h4>array: number[] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] | slice:5:10 </h4>

<ul>
    <!-- the slice thus does not give an error even knowing that there are no 20 or 30 elements -->
    <li *ngFor="let item of array | slice:5:10"> {{ item }} </li>
</ul>

<br>

<h4>array: string[] = ['Spiderman', 'Thor', 'Loki', 'Groot', 'Rocket', 'StarLord', 'IronMan'] | slice:4:10 </h4>

<ul>
    <!-- the slice thus does not give an error even knowing that there are no 20 elements -->
    <li *ngFor="let item of arrays | slice:4:10"> {{ item }} </li>
</ul>

<hr>

<h3>json pipe - (object created with all characteristics you see) called heroe with pipe ( | ) json</h3>

<br>

<h3>Example:</h3>

<br>

<h4>heroe | json</h4>

<br>

<div class="row">
    <div class="col">

        <pre>
        {{ heroe | json }}
        </pre>

    </div>
</div>

<hr>

<h3 class="mt-4">Domsafe <small>Custom Pipe</small></h3>

<div class="row mb-5">
    <div class="col">
        <iframe width="560" height="315" [src]="videoUrl | domsafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>